<nav>
  <div class="container">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/creativespace">Creative Space</a></li>
          <li><a href="/diversity">Diversity</a></li>
          <li><a href="/career-development">Career Development</a></li>
          <li><a href="/meet-tas">Meet TAs</a></li>
          <li><a href="clubs">Clubs</a></li>
      </ul>
  </div>
</nav>