# Database Configuration
POSTGRES_USER=myuser
POSTGRES_PASSWORD=password
POSTGRES_DB=fastapi_database
# Host 'db' matches the service name in docker-compose
POSTGRES_HOST=db
POSTGRES_PORT=5432

# SQLAlchemy Connection String
# For Docker reference (internal to the network):
DATABASE_URL=postgresql://myuser:password@db:5432/fastapi_database

# For local development (referencing 'localhost'):
# DATABASE_URL=postgresql://myuser:password@localhost:5432/fastapi_database
