
# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
venv/
env/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Unit tests / Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/
