<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS TA Program - Clubs</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/navigation.ejs') %>
    <main>
        <h1>CS Clubs</h1>
        <p>Discover and join our vibrant CS-related clubs and organizations.</p>
        <!-- Add more content about CS clubs here -->
    </main>
    
    <%- include('partials/footer.ejs') %>
    <script src="../js/main.js"></script>
    <script src="../js/navigation.js"></script>
</body>
</html>
