<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS TA Program - Diversity</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="../css/responsive.css"> -->
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/navigation.ejs') %>
    <main>
      <div class="">
        <h1>Diversity in Our Department</h1>
        <p>Diversity and inclusion in CS.</p>
      </div>
        <div class="photo-container">
          <figure>
          <img src="https://cms.afrotech.com/wp-content/uploads/2024/08/DSC_7371-1-scaled.jpg" class="content-image"/>
          <figcaption>Berea college student in Afrotech</figcaption>
        </figure>
        </div>
        <!-- Add more content about diversity initiatives here -->
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="../js/main.js"></script>
    <script src="../js/navigation.js"></script>
</body>
</html>
