<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CS TA Program - Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <%- include('partials/navigation.ejs') %>
  <main>
    <div class="container">
      <div class="content">
        <h2>Welcome to the CS TA Program</h2>
        <p>Explore our website to learn about our initiatives and meet our team.</p>
        <a href="src/pages/meet-tas.html" class="button">Meet Our TAs</a>
      </div>
    </div>
  </main>
    <%- include('partials/footer.ejs') %>
  <script src="src/js/main.js"></script>
  <script src="src/js/navigation.js"></script>
</body>
</html>
