<html lang="en">
<head>
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/src/css/navigation.css">
</head>

<nav id="main-nav">
    <ul class="nav-list">
                <li class="nav-logo">
            <img src="/src/components/BC_CS_TA_logo.png" alt="BC CS TA Logo" class="nav-logo-img">
        </li>
        <li><a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
        <li class="dropdown">
            <a href="/src/pages/meet-the-team/meet-the-team.html" class="nav-link">
                <i class="fas fa-users"></i> Meet The Team <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-content">
                <li><a href="/src/pages/meet-the-team/meet-tas.html">Meet TAs</a></li>
                <li><a href="/src/pages/meet-the-team/meet-makerspace-tas.html">Meet Makerspace TAs</a></li>
                <li><a href="/src/pages/meet-the-team/meet-programmers.html">Meet Programmers</a></li>
                <li><a href="/src/pages/meet-the-team/meet-robotics.html">Meet Robotics</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/src/pages/career-development-pages/career-development-page.html" class="nav-link">
                <i class="fas fa-briefcase"></i> Career Development <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-content">
                <li><a href="/src/pages/career-development-pages/career-development-page.html">Overview</a></li>
                <li><a href="/src/pages/career-development-pages/career-resources.html">Resources</a></li>
                <li><a href="/src/pages/career-development-pages/conferences.html">Conferences</a></li>
                <li><a href="/src/pages/career-development-pages/internship-opportunities.html">Internships</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="/src/pages/committees/committees.html" class="nav-link">
                <i class="fas fa-sitemap"></i> Committees <i class="fas fa-caret-down"></i>
            </a>
            <ul class="dropdown-content">
                <li><a href="/src/pages/committees/committees.html">Overview</a></li>
                <li><a href="/src/pages/committees/tech-ethics-committee.html">Tech Ethics Committee</a></li>
                <li><a href="/src/pages/committees/career-dev-committee.html">Tech Career Development</a></li>
                <li><a href="/src/pages/committees/diversity_in_stem_committee.html">Diversity in STEM</a></li>
                <li><a href="/src/pages/committees/creative_space_committee.html">Creative Space</a></li>
            </ul>
        </li>
        <li><a href="/src/pages/clubs.html" class="nav-link"><i class="fas fa-users-rectangle"></i> Clubs</a></li>
        <li><a href="/src/pages/classes/classes.html" class="nav-link"><i class="fas fa-chalkboard-teacher"></i> Classes</a></li>
        <li><a href="/src/pages/alumni.html" class="nav-link"><i class="fas fa-graduation-cap"></i> Alumni</a></li>
        <li>
            <a href="/src/pages/student-projects/student-projects.html" class="nav-link">
                <i class="fas fa-project-diagram"></i> Student Projects
            </a>
        </li>
        <li><a href="/src/pages/evening-lab.html" class="nav-link"><i class="fas fa-clock"></i> Evening Lab</a></li>
    </ul>
</nav>

