
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Navigation Bar</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<nav id="main-nav">
    <ul>
        <li><a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/src/pages/meet-the-team/meet-the-team.html" class="nav-link"><i class="fas fa-users"></i> Meet The Team</a></li>
<!--        <li><a href="/src/pages/meet-the-team/meet-programmers.html" class="nav-link"><i class="fas fa-code"></i> Meet Programmers</a></li>-->
        <li><a href="/src/pages/career-dev/index.html" class="nav-link"><i class="fas fa-briefcase"></i> Career Development</a></li>
        <li><a href="/src/pages/committees/committees.html" class="nav-link"><i class="fas fa-sitemap"></i> Committees</a></li>
        <li><a href="/src/pages/clubs.html" class="nav-link"><i class="fas fa-users-rectangle"></i> Clubs</a></li>
        <li><a href="/src/pages/classes/classes.html" class="nav-link"><i class="fas fa-chalkboard-teacher"></i> Classes</a></li>
        <li><a href="/src/pages/alumni.html" class="nav-link"><i class="fas fa-graduation-cap"></i> Alumni</a></li>
        <li><a href="/src/pages/student-projects/student-projects.html" class="nav-link"><i class="fas fa-project-diagram"></i> Student Projects</a></li>
        <li><a href="/src/pages/evening-lab.html" class="nav-link"><i class="fas fa-clock"></i> Evening Lab</a></li>
    </ul>
</nav>


<!--        <li><a href="/src/pages/creative-space/index.html" class="nav-link">Creative Space</a></li>-->
<!--        <li><a href="/src/pages/diversity/index.html" class="nav-link">Diversity</a></li>-->
<!--        <li><a href="/src/pages/contributions.html" class="nav-link">Contributions</a></li>-->
